<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435302315607-ap1mpb7hdtdaavd1psveujcd9pm0f9ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435302315607-ap1mpb7hdtdaavd1psveujcd9pm0f9ic</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNStmz1D8qoLVODkId49sYi2zwgMWAk0</string>
	<key>GCM_SENDER_ID</key>
	<string>435302315607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ishaanarya.meraki</string>
	<key>PROJECT_ID</key>
	<string>meraki-app-31ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>meraki-app-31ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435302315607:ios:98563dccdc229a606dd512</string>
</dict>
</plist>